@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

.AppStyles {
  left: 0px;
  top: 0px;
}

.AboutPageMainContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

.WhatIsTitle {
  color: #0e6029;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: left;
  font-size: 2em;
  margin-left: 5px;
  margin-bottom: 5px;
}

.whatIsCodestation {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.TextAndPicture {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.whatIsTextBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #0e6029;
  width: 40%;
}

.aboutP {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  margin: 5px;
}

#prettyCodeLightImg {
  width: 50%;
  object-fit: cover;
  border-radius: 0px 30px 30px 0px;
}

.TeamProfiles {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
}

.WhoMadeThisTitle {
  color: #0e6029;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: right;
  font-size: 2em;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Profile pic boxes CSS */

.TopThreeProfiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.MiddleThreeProfiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.BottomThreeProfiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;
}

.EveryonesProfilesBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  align-content: center;
  background: #0e6029;
  border-radius: 30px 0px 0px 30px;
}

.ProfileBoxPadding {
  padding: 5%;
}

.ProfileBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 150px;
  height: 150px;
}

.ProfilePicture {
  display: flex;
  align-self: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.ProfileName {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
}

.ProfileButton {
  border: solid 1px black;
  background-color: white;
  text-decoration: none;
}
