.Wrapper {
  max-width: 1500px;
  min-width: 330px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22em;
}

.subTitles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3em;
  color: #0E6029;
  width: 100%;
}

.whatIsCodestation {
  min-height: 48%;
  max-height: 48%;
  width: 44%;
  position: absolute;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: auto;
  flex-direction: row;
  flex-shrink: auto;
  top: 249px;
  background: #0e6029;
  border-radius: 0px 30px 30px 0px;
  margin-top: 10em;
}

.whatIsText {
  width: 50%;
  text-align: left;
  margin-left: 5px;
}

.whatIsImage {
  width: 50%;
}

.ContentFlexBox {
  min-height: 48%;
  max-height: 48%;
  width: 52%;
  position: absolute;
  right: 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: auto;
  flex-direction: row;
  flex-shrink: auto;
  top: 249px;
  background: #0e6029;
  border-radius: 30px 0px 0px 30px;
  margin-top: 10em;
}

.ContentItemBox {
  border: solid 1px black;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  margin-right: 20px;
}

/* @media (max-width: 768px) {
    flex-direction: column;
    color: red;
  } */
