@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.contactPage {
  background-color: #e5ffee;
}

.MainContainer{
  display: flex;
  flex-direction: row;
}

/* photo styling */
.contactImage {
  left: 0px;
  width: 900px;
  height: 700px;
  object-fit: contain;
}

/* message section */
.contactInput {
  display: flex;
  flex-direction: column;
}

.ContactFields{
  display: flex;
  flex-direction: row;
}

/* green colour not working for some reason */
.ContactFormTitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #0e6029;
}


/* message boxes styling */

.ContactFormText{
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #0e6029;
}

.smallBox {
  box-sizing: border-box;
  width: 320px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #0e6029;
  border-radius: 5px;
}

.bigBox {
  box-sizing: border-box;
  width: 320px;
  height: 320px;
  background: #ffffff;
  border: 1px solid #0e6029;
  border-radius: 5px;
}

/* wip */


