.FooterStyled {
  background-color: #0e6029;
  height: 100px;
  width: 100%;
  padding: 10px;
  left: 0px;
  bottom: 0px;
}

.FooterH4Styled {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #e5ffee;
  margin-bottom: -7px;
}

.FooterLinksStyled {
  font-size: 15px;
  font-weight: 100;
  color: #e5ffee;
}

.FooterLinksStyled a:link {
  color: #e5ffee;
}
.FooterLinksStyled a:visited {
  color: #e5ffee;
}
/* .FooterLinksStyleda:hover {
  color: #17c24f;
} */
