.HeaderStyled {
  width: auto;
  background-color: #e5ffee;
}

.ImgStyle {
  /* padding: 1%;
  width: 25vw;
  height: 4vw; */
  position: right;
  /* flex-wrap: wrap;
  justify-content: space-evenly; */
}
