@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.AppStyles{
    left: 0px;
    top: 0px;
}



/* Body CSS */

.MasterContainer{
padding-bottom: 2%;
display: flex;
height: 100%;
flex-direction: row;
justify-content: center;

}

.LeftBlockPadding{
    background: #0E6029;
    width: 2%;
}

.LeftImagePadding{

}

.RightImagePadding{

}

.RightBlock{

}




/* Landing Page Image CSS */

.LandingPagePictureContainer{
    padding-right: 4%;

}

.WomanImg{
    width: 625.72px;
    height: 500.58px;
    border-radius: 0px 0px 275px 275px;
    object-fit: cover;
}



.FingerTipsText{
    padding-top: 5%;
    padding-bottom: 5%;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    
    color: #0E6029;
    }

/* Log in / Sign Up Buttons CSS */

.SignUpNowContainer{
    display: flex;
}

.SignUpButtonContainer{
    padding-right: 5%;
    padding-bottom: 10%;
}


.SignupStyle {
    width: 315.71px;
    height: 73.24px;
    left: 1173px;
    top: 638px;
    background: #0E6029;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 200%;
    line-height: 58px;
    color: #FFFFFF;
}


.LogInSignUpContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.FieldsContainer{
    display: flex;
    flex-direction: column;
}

.AlreadyHaveStyle{
    width: 313.18px;
    height: 35.36px;
    left: 1173px;
    top: 743px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 29px;
    color: #FFFFFF;
    border-radius: 100px;
    background-color: #438759;
}

.SignUpButtonAndFields{
    display: flex;
    flex-direction: row-reverse;
    
}

.InputFields{
    display: flex;
    flex-direction: column;

}

/* WIP */

