/* .AppStyles{

    left: 0px;
    top: 0px;
} */

/* .SignupStyle {
    width: 315.71px;
    height: 73.24px;
    left: 1173px;
    top: 638px;
    background: #0E6029;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
} */

/* .ImgStyle2{
    width: 625.72px;
    height: 500.58px;

    border-radius: 0px 0px 275px 275px;
    float: left;
}  */

/* .AlreadyHaveStyle{
    width: 313.18px;
    height: 35.36px;
    left: 1173px;
    top: 743px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0E6029;
} */

/* .Text{
width: 734px;
height: 272px;
left: 988px;
top: 449px;
float: right;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;

color: #0E6029;
} */