@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Lobster&display=swap");

.NavbarStyled {
  /* border: solid 1px black; */
  font-family: "Inter", sans-serif;
  padding: 10px;
  width: auto;
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: #0e6029;
}

.NavItemStyled {
  /* border: solid 1px black; */
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  margin-right: 20px;
  color: black;
}

.NavItemStyled a:link {
  color: #e5ffee;
}
.NavItemStyled a:visited {
  color: #e5ffee;
}

/* @media (max-width: 768px) {
    justify-content: right;
  } */
